---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <!-- trail은 글 밑에 따라오는 부분을 의미 -->
  <div class="trail">
    <!-- author -->
    {% assign author = site.data.authors[page.author] %}
    <span class="author">{% if author %}글쓴이: {{ author.name }}
    ({% if author.github %}<a class="github" href="https://github.com/{{ author.github }}"></a>{% endif %}{% if author.twitter %}<a class="twitter" href="https://twitter.com/{{ author.twitter }}"></a>{% endif %}{% if author.web %}<a class="web" href="{{ author.web }}"></a>)</span>{% endif %}),{% endif %}
    {% if page.date %}{{ page.date | date: "%Y년 %-m월 %-d일" }}{% endif %}
  </div>

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
